DEBUG=True
POSTGRES_DB=postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_HOST=db
POSTGRES_PORT=5432
SOCIAL_AUTH_GITHUB_KEY=1108c4f2b7ce5898a88j
SOCIAL_AUTH_GITHUB_SECRET=cd3c4127b6f9c482aead32ab9112de971b5d588g