[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-rest-framework = "*"
djangorestframework-jwt = "*"
psycopg2 = "*"
django-stubs = "*"
django-environ = "*"
drf-yasg = "*"
django-extensions = "*"

[dev-packages]
mypy = "==0.910"
pytest = "*"
pytest-django = "*"
black = "==21.9b0"
faker = "*"
django-dynamic-fixture = "*"
pytest-cov = "*"

[requires]
python_version = "3.9"
